@charset "UTF-8";
.alert {
  font-weight: 600;
  font-size: 13px;
}
.alert.alert-warning {
  background: #ee7d11;
  color: #ffffff;
}
.alert.alert-danger {
  background: #e2001a;
  color: #ffffff;
}
.alert .close {
  opacity: 1;
}

.btn {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
}
.btn.btn-default {
  color: #000000;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(to top, #f5f5f5, #ffffff);
}
.btn.btn-primary {
  color: #ffffff;
  border-color: #af1e16;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.08);
  background-image: linear-gradient(to bottom, #e2001a, #d32118);
}
.btn.btn-primary:hover {
  background-image: linear-gradient(to bottom, #d32118, #af1e16);
}
.btn.btn-primary:active {
  background-color: #af1e16;
}

.navbar-default {
  margin-bottom: 30px;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-header {
    text-align: center;
  }
}
.navbar-default .navbar-header .navbar-brand {
  padding: 0;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .navbar-default .navbar-header .navbar-brand {
    float: none;
  }
}
.navbar-default .navbar-header .navbar-brand img {
  display: inline-block;
  width: 150px;
}
.navbar-default .navbar-nav > li a {
  color: #ddd;
}
.navbar-default .navbar-nav > li a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li.form-change-lang a {
  color: #333;
}

.list-radio .radio-list ul {
  border-radius: 2px;
}
.list-radio .radio-item {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.list-radio .radio-item input[type=radio] {
  display: none;
}
.list-radio .radio-item label {
  background: #aac9f6;
  color: #222;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 10px 30px;
  text-align: center;
}
.list-radio .radio-item label:hover {
  background: #666;
  color: white;
}
.list-radio .radio-item label::before, .list-radio .radio-item label::after {
  margin: 0;
  display: inline-block;
  content: "";
  width: auto;
  height: auto;
  border: none;
  top: 6px;
  background: transparent;
  padding: 0;
}
.list-radio .radio-item label::before {
  left: 5px;
  right: auto;
}
.list-radio .radio-item label::after {
  left: auto;
  right: 5px;
}
.list-radio .radio-item input[type=radio]:checked + label {
  background: #e2001a;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}
.list-radio .radio-item input[type=radio]:checked + label:hover {
  color: white;
}
.list-radio .radio-item input[type=radio]:checked + label::before,
.list-radio .radio-item input[type=radio]:checked + label::after {
  font-family: "FontAwesome";
  font-weight: bold;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 1.2;
  border: none;
  background: transparent;
}
.list-radio .radio-item input[type=radio]:checked + label::before {
  content: "";
}
.list-radio .radio-item input[type=radio]:checked + label::after {
  content: "";
}
.list-radio .radio-item input[type=radio] + label + div.form-group.text-item {
  padding: 5px 0 0;
}
.list-radio .radio-item input[type=radio]:checked + label + div.form-group.text-item {
  padding: 5px 15px 0;
}
.list-radio .radio-item input[type=radio]:checked + label + div.form-group.text-item input[type=text] {
  background: lightyellow;
  text-align: center;
}
.list-radio .radio-item .input-sm {
  font-size: 18px;
}
.list-radio .radio-item .form-inline .form-group {
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
}
.list-radio .radio-item .form-inline .form-control {
  width: 100%;
}
@media (min-width: 768px) {
  .list-radio .form-inline .form-group {
    display: block;
  }
  .list-radio .form-inline .form-control {
    width: 100%;
  }
}

.list-radio.bi .radio-item label {
  color: white;
}
.list-radio.bi .radio-item:nth-child(1) label {
  background: #440154;
}
.list-radio.bi .radio-item:nth-child(2) label {
  background: #491D54;
}
.list-radio.bi .radio-item:nth-child(3) label {
  background: #4F3854;
}
.list-radio.bi .radio-item:nth-child(4) label {
  background: #555555;
}
.list-radio.bi .radio-item:nth-child(5) label {
  background: #436867;
}
.list-radio.bi .radio-item:nth-child(6) label {
  background: #327C79;
}
.list-radio.bi .radio-item:nth-child(7) label {
  background: #21908C;
}
.list-radio.bi .radio-item:nth-child(8) label {
  background: #eee;
  color: black;
}
.list-radio.bi .radio-item:hover label {
  background: #666;
  color: white;
}
.list-radio.bi .radio-item.checked label {
  background: #e2001a;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}
.list-radio.bi .radio-item.checked label:hover {
  color: white;
}
.list-radio.uni .radio-item label {
  color: white;
}
.list-radio.uni .radio-item:nth-child(1) label {
  background: #440154;
}
.list-radio.uni .radio-item:nth-child(2) label {
  background: #481654;
}
.list-radio.uni .radio-item:nth-child(3) label {
  background: #4C2B54;
}
.list-radio.uni .radio-item:nth-child(4) label {
  background: #504054;
}
.list-radio.uni .radio-item:nth-child(5) label {
  background: #555555;
}
.list-radio.uni .radio-item:nth-child(6) label {
  background: #eee;
  color: black;
}
.list-radio.uni .radio-item:hover label {
  background: #666;
  color: white;
}
.list-radio.uni .radio-item.checked label {
  background: #e2001a;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}
.list-radio.uni .radio-item.checked label:hover {
  color: white;
}

.multiple-opt li.checkbox-item {
  padding: 0;
  color: #222;
  font-weight: normal;
  margin-bottom: 5px;
}
.multiple-opt li.checkbox-item input[type=checkbox] {
  display: none;
}
.multiple-opt li.checkbox-item .input-sm {
  font-size: 18px;
}
.multiple-opt li.checkbox-item label {
  margin-bottom: 0;
  display: block;
  font-weight: normal;
  padding: 5px 30px;
}
.multiple-opt li.checkbox-item label::before {
  padding: 0;
  line-height: 1.2;
  top: 7px;
  left: 20px;
  right: auto;
  width: 16px;
  height: 16px;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  background-image: linear-gradient(to top, #f5f5f5, #fff);
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.05);
  display: inline-block;
}
.multiple-opt li.checkbox-item input[type=checkbox] + label + div.form-group.text-item {
  padding: 5px 0 0;
}
.multiple-opt li.checkbox-item input[type=checkbox]:checked + label + div.form-group.text-item {
  padding: 5px 15px 0;
}
.multiple-opt li.checkbox-item input[type=checkbox]:checked + label + div.form-group.text-item input[type=text] {
  background: lightyellow;
  text-align: center;
  border-color: #66afe9;
}
@media (min-width: 768px) {
  .multiple-opt .form-inline .form-group {
    display: block;
  }
  .multiple-opt .form-inline .form-control {
    width: 100%;
  }
}

.checkbox-item input[type=checkbox]:checked + label::before {
  background-image: linear-gradient(to top, #1665d8, #1f6fe5);
  border-color: #104798;
}

.checkbox-item input[type=checkbox]:checked + label::after {
  content: "";
  left: 19px;
  top: 7px;
  font-size: 10px;
  color: #ffffff;
}

.slider-handle {
  background-image: linear-gradient(to top, #1665d8, #1f6fe5);
  border: 1px solid #104798;
  box-shadow: none;
}

.slider-track {
  background: #ddd;
  box-shadow: none;
  border-radius: 15px;
}

.slider-track-low,
.slider-track-high {
  border-radius: 0;
}

.slider-selection {
  background: #1665d8;
  box-shadow: none;
  border-radius: 15px;
}

.numeric-multi .hide-tip {
  display: none;
}

body {
  background: #EFEFEF;
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  line-height: 1.4;
}

.text-danger {
  color: #e2001a;
}

.text-info {
  color: #1665d8;
}

.asterisk {
  margin-right: 5px;
  display: none;
}
.asterisk .text-danger {
  color: #1665d8;
}

.progress-container {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}
.progress-container .progress {
  margin-bottom: 0;
}
.progress-container .progress-bar {
  background-color: #1665d8;
}

#outerframeContainer {
  margin-bottom: 120px;
}
#outerframeContainer .welcome-container-wrapper {
  padding-bottom: 15px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}
#outerframeContainer .welcome-container-wrapper .survey-name {
  margin-bottom: 15px;
  padding: 23px 25px;
  border-bottom: 1px solid #e8e8e8;
}
#outerframeContainer .welcome-container-wrapper .survey-name h1 {
  margin: 0;
  font-weight: 600;
  color: #000;
  font-size: 18px;
  text-align: left;
}
#outerframeContainer .welcome-container-wrapper .survey-description,
#outerframeContainer .welcome-container-wrapper .survey-welcome,
#outerframeContainer .welcome-container-wrapper .number-of-questions {
  padding-left: 15px;
  padding-right: 15px;
}
#outerframeContainer .question-container {
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}
#outerframeContainer .question-container .question-title-container {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 15px;
  padding: 23px 25px;
  border-bottom: 1px solid #e8e8e8;
}
#outerframeContainer .question-container .question-title-container .question-number {
  margin-right: 15px;
  background-color: #1665d8;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  float: left;
  border: 1px solid #104798;
}
#outerframeContainer .question-container .question-title-container .question-text {
  font-weight: 600;
  color: #000;
  font-size: 18px;
}
#outerframeContainer .question-container .question-valid-container .ls-question-help {
  padding-top: 5px;
}
#outerframeContainer .question-container .question-valid-container .ls-question-help .em_default {
  display: none;
}
#outerframeContainer .question-container .answer-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
#outerframeContainer .question-container .answer-container .ls-answers ul {
  margin-bottom: 0;
}
#outerframeContainer .question-container .answer-container .ls-answers ul li:last-child {
  margin-bottom: 0;
}
#outerframeContainer .question-container .answer-container .form-control {
  height: 37px;
}
#outerframeContainer .question-container .question-help-container {
  line-height: 1.2;
}
#outerframeContainer .question-container .question-help-container.text-info {
  color: #000000;
}
#outerframeContainer .question-container .question-help-container p:last-child {
  margin-bottom: 0;
}

.completed-wrapper {
  padding: 15px;
  background-color: white;
}

#firstpage-changelang {
  text-align: right;
  margin-bottom: 5px;
}

.navigator {
  padding: 15px 0;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}
