.alert {
    font-weight: 600;
    font-size: 13px;

    &.alert-warning {
        background: $orange-100;
        color:$white;
    }

    &.alert-danger {
        background: $red-100;
        color:$white;
    }

    .close {
        opacity: 1;
    }
}
