.btn {
    padding:10px 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;

    &.btn-default {
        color: $grey-70-dark;
        box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.05);
        background-image: linear-gradient(to top,$grey-10-light,$white);
    }

    &.btn-primary {
        color: $white;
        border-color: $red-30-dark;
        box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.08);
        background-image: linear-gradient(to bottom,$red-100,$red-10-dark);

        &:hover {
            background-image: linear-gradient(to bottom,$red-10-dark,$red-30-dark);
        }

        &:active {
            background-color: $red-30-dark;
        }
    }
}
