// Variables

$OU-Primary: #e2001a;

$white: #ffffff;
$black: #000000;

$red-70-dark: #65140d;
$red-50-dark: #8b1b13;
$red-30-dark: #af1e16;
$red-10-dark: #d32118;
$red-100: #e2001a;
$red-70-light: #ec734c;
$red-50-light: #f39e7b;
$red-30-light: #f9c8af;
$red-10-light: #fdede5;

$orange-70-dark: #69380c;
$orange-50-dark: #904e10;
$orange-30-dark: #b76212;
$orange-10-dark: #dc7411;
$orange-100: #ee7d11;
$orange-70-light: #f5a65c;
$orange-50-light: #f9c18b;
$orange-30-light: #fcdaba;
$orange-10-light: #fff4e9;

$grey-70-dark: #000000;
$grey-50-dark: #1a1a1a;
$grey-30-dark: #4d4d4d;
$grey-10-dark: #808080;
$grey-100: #999999;
$grey-70-light: #b8b8b8;
$grey-50-light: #cccccc;
$grey-30-light: #e0e0e0;
$grey-20-light: #e8e8e8;
$grey-10-light: #f5f5f5;

$custom-blue-dark: #104798;
$custom-blue: #1665d8;
$custom-blue-light: #bcd1f4;

$custom-green: #34aa44;




$CovidOrange: #F4623A;
$CovidBlue: #384e71;
$CovidRed: #b71f2b;
$CovidPink: #e94a50;

// As of April 2
$covid71: #440154;
$covid72: #491D54;
$covid73: #4F3854;
$covid74: #555555;
$covid75: #436867;
$covid76: #327C79;
$covid77: #21908C;
$covid78: #eee;

$covid51: #440154;
$covid52: #481654;
$covid53: #4C2B54;
$covid54: #504054;
$covid55: #555555;
$covid56: #eee;
