.multiple-opt{
    &.input-error{
        .answer-container{
            //background: $red-10-light;
        }
    }

    li{
        &.checkbox-item{
            padding:0;
            color: #222;
            font-weight: normal;
            margin-bottom: 5px;

            input[type="checkbox"]{
                display: none;
            }

            .input-sm{
                font-size: 18px;
            }

            label{
                margin-bottom: 0;
                display: block;
                font-weight: normal;
                padding: 5px 30px;
                //background: lighten($custom-blue, 35%);
                //text-align: center;

                &:hover{
                    // background: #666;
                    // color: white;
                    //
                    // &::before,
                    // &::after{
                    //     color: white;
                    // }
                }

                &::before {
                    padding: 0;
                    line-height: 1.2;

                    top: 7px;
                    left:20px;
                    right: auto;

                    width: 16px;
                    height: 16px;
                    border: solid 1px #e0e0e0;
                    border-radius: 4px;
                    background-image: linear-gradient(to top, #f5f5f5, #fff);
                    box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 5%);
                    display: inline-block;
                }

                // &::after{
                //     left: 10px;
                //     right: auto;
                //     text-align: right;
                // }
            }

            input[type="checkbox"] + label + div.form-group.text-item{
                padding: 5px 0 0;
            }

            input[type="checkbox"]:checked + label + div.form-group.text-item{
                padding: 5px 15px 0;

                input[type="text"]{
                    background: lightyellow;
                    text-align: center;
                    border-color: #66afe9;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .form-inline .form-group {
          display: block;
        }

        .form-inline .form-control{
            width: 100%;
        }
    }
}

.checkbox-item input[type="checkbox"]:checked + label::before {
    background-image: linear-gradient(to top, #1665d8, #1f6fe5);
    border-color:$custom-blue-dark;
}

.checkbox-item input[type="checkbox"]:checked + label::after {
    content: '\f00c';
    left: 19px;
    top: 7px;
    font-size: 10px;
    color: $white;
}

.checkbox-item input[type="checkbox"]:checked + label{
    // background: $custom-blue;
    // color: white;
    // margin-left: 15px;
    // margin-right: 15px;
}
