.navbar-default{
    margin-bottom: 30px;
    background: $white;
    border-bottom: 1px solid #e8e8e8;

    .navbar-header{
        @media screen and (max-width: 767px) {
            text-align: center;
        }

        .navbar-brand{
            padding: 0;
            height: 60px;

            @media screen and (max-width: 767px) {
                float:none;
            }

            img {
                display: inline-block;
                width: 150px;
            }
        }
    }


    .navbar-nav > li a{
        color: #ddd;

        &:hover{
            color: #fff;
        }
    }

    .navbar-nav > li.form-change-lang a {
        color: #333;
    }

}
