.list-radio{
    .radio-list ul{
        border-radius: 2px;
    }

    .radio-item{

        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        input[type="radio"]{
            display: none;
        }

        label{
            background: lighten($custom-blue, 35%);
            color: #222;
            font-weight: normal;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
            display: block;
            padding: 10px 30px;
            text-align: center;

            &:hover{
                background: #666;
                color: white;
            }

            &::before,
            &::after{
                margin: 0;
                display: inline-block;
                content: "";
                width: auto;
                height: auto;
                border: none;
                top: 6px;
                background: transparent;
                padding: 0;
            }

            &::before{
                left: 5px;
                right: auto;
            }

            &::after{
                left: auto;
                right: 5px;
            }
        }

        input[type="radio"]:checked + label{
            background: $OU-Primary;
            margin-left: 15px;
            margin-right: 15px;
            color: white;

            &:hover{
                color: white;
            }
        }

        input[type="radio"]:checked + label::before,
        input[type="radio"]:checked + label::after{
            font-family: "FontAwesome";
            font-weight: bold;
            font-size: 24px;
            width: 24px;
            height: 24px;
            line-height: 1.2;
            border: none;
            background: transparent;
        }

        input[type="radio"]:checked + label::before{
            content: "\f105";
        }

        input[type="radio"]:checked + label::after{
            content: "\f104";
        }

        input[type="radio"] + label + div.form-group.text-item{
            padding: 5px 0 0;
        }

        input[type="radio"]:checked + label + div.form-group.text-item{
            padding: 5px 15px 0;

            input[type="text"]{
                background: lightyellow;
                text-align: center;
            }
        }

        .input-sm{
            font-size: 18px;
        }

        .form-inline .form-group {
            display: block;
            margin-bottom: 0;
            vertical-align: middle;
          }

          .form-inline .form-control{
              width: 100%;

          }
    }

    @media (min-width: 768px) {
        .form-inline .form-group {
          display: block;
        }

        .form-inline .form-control{
            width: 100%;
        }
    }
}

.list-radio{
    &.bi{
        .radio-item{
            label{
                color: white;
            }

            &:nth-child(1) label{
                background: $covid71;
            }
            &:nth-child(2) label{
                background: $covid72;
            }
            &:nth-child(3) label{
                background: $covid73;
            }
            &:nth-child(4) label{
                background: $covid74;
            }
            &:nth-child(5) label{
                background: $covid75;
            }
            &:nth-child(6) label{
                background: $covid76;
            }
            &:nth-child(7) label{
                background: $covid77;
            }
            &:nth-child(8) label{
                background: $covid78;
                color: black;
            }
            &:hover label{
                background: #666;
                color: white;
            }
            &.checked label{
                background: $OU-Primary;
                margin-left: 30px;
                margin-right: 30px;
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }

    &.uni{
        .radio-item{

            label{
                color: white;
            }

            &:nth-child(1) label{
                background: $covid51;
            }
            &:nth-child(2) label{
                background: $covid52;
            }
            &:nth-child(3) label{
                background: $covid53;
            }
            &:nth-child(4) label{
                background: $covid54;
            }
            &:nth-child(5) label{
                background: $covid55;
            }
            &:nth-child(6) label{
                background: $covid56;
                color: black;
            }
            &:hover label{
                background: #666;
                color: white;
            }

            &.checked label{
                background: $OU-Primary;
                margin-left: 30px;
                margin-right: 30px;
                color: white;
                &:hover{
                    color: white;
                }
            }
        }
    }
}
