.slider-handle{
    background-image: linear-gradient(to top, #1665d8, #1f6fe5);
    border:1px solid $custom-blue-dark;
    box-shadow: none;
}

.slider-track{
    background: #ddd;
    box-shadow: none;
    border-radius: 15px;
}

.slider-track-low,
.slider-track-high{
    border-radius: 0;
}

.slider-selection{
    background: $custom-blue;
    box-shadow: none;
    border-radius: 15px;
}

.numeric-multi{
    .hide-tip{
        display: none;
    }
}
