@import 'colors';
@import 'alerts';
@import 'buttons';
@import 'navbar';
@import 'radiobuttons';
@import 'multiplechoice';
@import 'slider';


body{
    background: #EFEFEF;
    font-size: 13px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

p {
    line-height: 1.4;
}

.text-danger{
    color: $OU-Primary;
}

.text-info{
    color: $custom-blue;
}

.asterisk{
    margin-right: 5px;
    .text-danger{
        color: $custom-blue;
    }
    display: none;
}


.progress-container {
    padding:15px;
    margin-bottom: 15px;
    background-color: $white;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);
    -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);

    .progress {
        margin-bottom: 0;
    }

    .progress-bar {
        background-color:$custom-blue;
    }


}


#outerframeContainer{
    margin-bottom: 120px;

    // WELCOME CONTAINEr
    .welcome-container-wrapper{
        //padding:30px 15px 20px 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        background-color: $white;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        -webkit-box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);
        -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
        box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);

        // #welcome-container{
        //     h1{
        //         margin-top: 0;
        //     }
        // }

        .survey-name {
            margin-bottom: 15px;
            padding: 23px 25px;
            border-bottom: 1px solid #e8e8e8;

            h1 {
                margin:0;
                font-weight: 600;
                color:#000;
                font-size: 18px;
                text-align: left;
            }
        }

        .survey-description,
        .survey-welcome,
        .number-of-questions {
            padding-left: 15px; padding-right: 15px;
        }


    }

    // QUESTIO N CONTAINER
    .question-container{
        margin-bottom: 15px;
        background-color: $white;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        -webkit-box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);
        -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
        box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);




        // TITLE
        .question-title-container{
            // background: $OU-Primary;
            // padding: 10px 15px;
            border-top-left-radius:4px;
            border-top-right-radius:4px;
            margin-bottom: 15px;
            padding: 23px 25px;
            border-bottom: 1px solid #e8e8e8;

            .question-number {
                margin-right: 15px;
                background-color:$custom-blue;
                border-radius: 100%;
                width: 25px; height: 25px;
                text-align: center;
                color:$white;
                font-size: 12px;
                font-weight: 600;
                line-height: 23px;
                float:left;
                border:1px solid $custom-blue-dark;
            }

            .question-text{
                // font-size: 15px;
                // color: white;
                font-weight: 600;
                color:#000;
                font-size: 18px;
            }
        }


        // VALID MSG
        .question-valid-container {
            .ls-question-help{
                padding-top: 5px;

                .em_default{
                    display:none;
                }
                .ls-em-error{
                    //color: $OU-Primary;
                }
            }
        }

        // ANSWER OPTIONS
        .answer-container{
            padding-top: 15px;
            padding-bottom: 15px;

            .ls-answers{
                ul{
                    margin-bottom: 0;

                    li:last-child{
                        margin-bottom: 0;
                    }
                }

                &.checkbox-list {

                }
            }

            .form-control {
                height: 37px;
            }
        }


        // QUESTIO N HELP
        .question-help-container{
            line-height: 1.2;
            //margin-bottom: 15px;

            &.text-info {
                color:$black;
            }

            p:last-child{
                margin-bottom: 0;
            }
        }

    }

}

.completed-wrapper{
    padding:15px;
    background-color: white;
}

#firstpage-changelang {
    text-align: right;
    margin-bottom: 5px;
}


.navigator {
    padding: 15px 0;
    background-color: $white;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);
    -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 4%);
}
//
// .privacy {
//     //background: white;
//     margin-bottom: 15px;
//
//     .row {
//         margin:0;
//     }
//
//     .navigator {
//         margin-left:-15px;
//         margin-right: -15px;
//     }
// }
